<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkq.jsqiang.mapper.FoodSunSubscribeMapper">
  <resultMap id="BaseResultMap" type="com.jkq.jsqiang.entity.FoodSunSubscribe">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="foodname" jdbcType="VARCHAR" property="foodname" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="foodstatus" jdbcType="VARCHAR" property="foodstatus" />
    <result column="transportSatus" jdbcType="VARCHAR" property="transportsatus" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jkq.jsqiang.entity.FoodSunSubscribeWithBLOBs">
    <result column="address" jdbcType="LONGVARCHAR" property="address" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, foodname, total, num, time, foodstatus, transportSatus, price, phone
  </sql>
  <sql id="Blob_Column_List">
    address, content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from foodsunsubscribe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from foodsunsubscribe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from foodsunsubscribe
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from foodsunsubscribe
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeExample">
    delete from foodsunsubscribe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeWithBLOBs">
    insert into foodsunsubscribe (id, username, foodname, 
      total, num, time, foodstatus, 
      transportSatus, price, phone, 
      address, content)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{foodname,jdbcType=VARCHAR}, 
      #{total,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{time,jdbcType=DATE}, #{foodstatus,jdbcType=VARCHAR}, 
      #{transportsatus,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeWithBLOBs">
    insert into foodsunsubscribe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="foodname != null">
        foodname,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="foodstatus != null">
        foodstatus,
      </if>
      <if test="transportsatus != null">
        transportSatus,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="foodname != null">
        #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="foodstatus != null">
        #{foodstatus,jdbcType=VARCHAR},
      </if>
      <if test="transportsatus != null">
        #{transportsatus,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeExample" resultType="java.lang.Long">
    select count(*) from foodsunsubscribe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update foodsunsubscribe
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.foodname != null">
        foodname = #{record.foodname,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=DATE},
      </if>
      <if test="record.foodstatus != null">
        foodstatus = #{record.foodstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.transportsatus != null">
        transportSatus = #{record.transportsatus,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update foodsunsubscribe
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      foodname = #{record.foodname,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      time = #{record.time,jdbcType=DATE},
      foodstatus = #{record.foodstatus,jdbcType=VARCHAR},
      transportSatus = #{record.transportsatus,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update foodsunsubscribe
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      foodname = #{record.foodname,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      time = #{record.time,jdbcType=DATE},
      foodstatus = #{record.foodstatus,jdbcType=VARCHAR},
      transportSatus = #{record.transportsatus,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeWithBLOBs">
    update foodsunsubscribe
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="foodname != null">
        foodname = #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
      <if test="foodstatus != null">
        foodstatus = #{foodstatus,jdbcType=VARCHAR},
      </if>
      <if test="transportsatus != null">
        transportSatus = #{transportsatus,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribeWithBLOBs">
    update foodsunsubscribe
    set username = #{username,jdbcType=VARCHAR},
      foodname = #{foodname,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      foodstatus = #{foodstatus,jdbcType=VARCHAR},
      transportSatus = #{transportsatus,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jkq.jsqiang.entity.FoodSunSubscribe">
    update foodsunsubscribe
    set username = #{username,jdbcType=VARCHAR},
      foodname = #{foodname,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      foodstatus = #{foodstatus,jdbcType=VARCHAR},
      transportSatus = #{transportsatus,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>